.street-view-box {
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}

.street-view-box .street-view-embed iframe {
    position: absolute;
    top: -8%;
    height: 100%;
    width: 100%;
}
